<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="OpenCodeChems.Server.Properties.Settings.opencodechemsConnectionString" connectionString="Data Source=openchemsserver.database.windows.net;Initial Catalog=opencodechems;User ID=chemsito;Password=MasterKey$123" providerName="System.Data.SqlClient" />
    <add name="opencodechemsContext" connectionString="metadata=res://*/DataAccess.OpenCodeChemsModel.csdl|res://*/DataAccess.OpenCodeChemsModel.ssdl|res://*/DataAccess.OpenCodeChemsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=openchemsserver.database.windows.net;initial catalog=opencodechems;user id=chemsito;password=MasterKey$123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>